<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Valitana.Domain]*,[Valitana.Application]*,[Valitana.Infrastructure]*OutboxMessageMapper*</Include>
          <Exclude>[Valitana.Application]Valitana.Application.DependencyInjection</Exclude>
          <Threshold>90</Threshold>
          <ThresholdType>line</ThresholdType>
          <ThresholdStat>total</ThresholdStat>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
